{% extends "base.html" %}
{% load crispy_forms_tags staticfiles sekizai_tags i18n vcms_tags  %}

{% block title %}Создание новой записи{% endblock %}

{% block content %}

{{ form.media.css }}
<style type="text/css">
ul.as-selections li.as-original input {  height: auto !important;  }
#id_tags { display: none; !important;  }

</style>
    <h2>{% if not form.page.value %}Добавить новую запись{% else %}Редактировать запись "<a href="{% url 'content_page' instance.url %}">{{ instance.title }}</a>"{% endif %}</h2>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

        <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        {% csrf_token %}
            {{  form.after }}
            {{ form.page }}
        <div>
            {{ form.non_field_errors }}

            <div class="row">
                <div class="fieldWrapper">
                    {{ form.title.errors }}
                    <label for="{{ form.title.id_for_label }}">Title:</label>
                    {{ form.title }}
                </div>
            </div>

            <div class="row">
                <div class="fieldWrapper">
                    {{ form.slug.errors }}
                    <label for="{{ form.slug.id_for_label }}">Slug:</label>
                    {{ form.slug }}
                </div>
            </div>

            <div class="row">
                <div class="fieldWrapper">
                    {{ form.content.errors }}
                    <label for="{{ form.content.id_for_label }}">Content:</label>
                    {{ form.content }}
                </div>
            </div>

            <div class="row">
                <div class="col_1_3 ng">
                        {{ form.tags.errors }}
                        <label for="{{ form.tags.id_for_label }}">Tags:</label>
                        {{ form.tags }}
                </div>
                <div class="col_1_3 ng">
                        {{ form.template.errors }}
                        <label for="{{ form.template.id_for_label }}">Template:</label>
                        {{ form.template }}
                </div>
                <div class="col_1_3 ng">
                    {{ form.category.errors }}
                    <label for="{{ form.category.id_for_label }}">Category:</label>
                    {{ form.category }}
                </div>
            </div>

            <div class="row">
                <div class="fieldWrapper">
                    {{ form.meta_keywords.errors }}
                    <label for="{{ form.meta_keywords.id_for_label }}">Keywords:</label>
                    {{ form.meta_keywords }}
                </div>
            </div>

            <div class="row">
                <div class="fieldWrapper">
                    {{ form.meta_description.errors }}
                    <label for="{{ form.meta_description.id_for_label }}">Description:</label>
                    {{ form.meta_description }}
                </div>
            </div>

            <diw class="row">
                <div class="col_1_2">
                    <div class="fieldWrapper">
                        {{ form.enabled }} is enabled
                        {{ form.hidden }} hide from menu
                        {{ form.comments }} allow comments
                    </div>
                </div>
                <div class="col_1_2">
                    <div class="fieldWrapper">
                        {{ form.date_published.errors }}
                        Published: {{ form.date_published }}
                            {{ form.rehost }} rehost content
                    </div>
                </div>
            </diw>

            <div class="row form-input clear">
                <div>
                    <input type="submit" name="save_button" value="{% trans "Save" %}" class="button small blue">
                    {% if form.page.value %} <input type="submit" name="delete_button" value="{% trans "Delete" %}" class="button small red fl_right"> {% endif %}
                </div>
            </div>

        </div>
    </form>
    {{ form.media.js }}
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script type="text/javascript">
    document.getElementById("id_title").onkeyup = function() {
        var e = document.getElementById("id_slug");
        if (!e._changed) { e.value = URLify(document.getElementById("id_title").value, 50); }
    }

    jQuery(document).ready(function($){
        $('.django-select2').not('django-select2-heavy').select2();
        $('.django-select2.django-select2-heavy').each(function () {
            var field_id = $(this).data('field_id');
            $(this).select2({
                ajax: {
                    data: function (params) {
                        return {
                            term: params.term,
                            page: params.page,
                            field_id: field_id
                        }
                    },
                    processResults: function (data, page) {
                        return {
                            results: data.results,
                            pagination: {
                                more: data.more
                            }
                      }
                    }
                }
            });
        });
    });

    </script>


{% endblock %}


