{% extends "base.html" %}
{% load static i18n vcms_tags sekizai_tags %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}

    {% vcms_pages parent=content.url as records %}

        {% for record in records %}
            <div class="row">
                <div class="post">
                    <a href="{% url 'content_page' record.url %}" class="blog-post-title">{{ record.title }}</a>
                    {{ record.short_content|safe }} <br />
                </div>
            </div>
        {% endfor %}
{% endblock %}

